<div class="d-flex flex-column gap-y-4" style="width: 100%; height: 90vh;">
    <div class="d-flex justify-center gap-x-8" style="width: 100%; height: 100%;">
        <BasicLoanData @ref="_basicLoanDataRef" LoanInfoRef="this" Loan="_loan" LoanConfig=_loanConfig />
        <ProposalForm @ref="_proposalFormRef" LoanInfoRef="this" />
    </div>
    @if (_submitProposalLoading)
    {
        <div class="d-flex justify-center gap-x-8" style="width: 100%; height: 100%;">
            <div class="d-flex flex-column" style="width: 60%;">
                <MudText>Trwa przetwarzanie wniosku, proszę czekać...</MudText>
                <MudProgressLinear Class="" Style="margin: 1% 0%;" Color="Color.Primary" Indeterminate="true" />
            </div>
        </div>
    }
    <MudDivider />
    <div class="d-flex justify-center" style="width: 100%; height: 100%;">
        <LoanDetails LoanDto="_loan"
                     InstallmentListDto="_installmentListDto"
                     ParamChangeDatePayment="ChangeDatePayment" />
    </div>
</div>